.scale-wrap {
    overflow: hidden;
    position: relative;
    float: left;
}

.scale-wrap img.fake {
    float: left;
    visibility: hidden;
    width: auto;
}

.img-wrap {
    position: absolute;
    top: 0;
    right: 15px;
    // bottom: 0;
    // left: 0;
}

.img-wrap img.normal {
    width: 35%;
}
